<!DOCTYPE html>
<html>
    <head>
        <title>YouTube Downloader by Boy Panjaitan</title>
        <style>
            * {
            text-align: center;
            font-family: Arial;
        }
            .heading {
            margin-top:40vh;
        }
        </style>
    </head>
    <body>
        <h1 class="heading">OOOPPSS !</h1>
        <p style="color:red;"><%= message %></p>
        <br/>
        <a href="/" style="background:#BBB;padding:10px 15px;border-radius:10px;text-decoration:none;color:white;">Go Back To Download</a>
    </body>
</html>